<!DOCTYPE html>
<html>
<head>
  <style>
    
  </style>
</head>
<h1>Using Template</h1>
<body>
<p>Body parts</p>
<div id="refresh">
{% for i in transactions_all %}
<li>{{i.name}} spent {{i.price}} at {{i.time}}</li>
{% endfor %}

<form>
  <input type="text" placeholder="username"></input>
  <input type="password" placeholder="password"></input>
  <input type="password" placeholder="password confirm"></input>
  <input type="submit" placeholder="submit"></input>
  <input type="reset" placeholder="reset"></input>
</form>
</div>
</body>

<script> setTimeout(function () { 
    location.reload();
  },  5000);

</script>
</html>
