<!DOCTYPE html>
<html>
<head>
  <style>
    #edit-area{
      width:50%;
      margin: 0 auto; 
    }

  </style>
</head>
<h1>Using Template</h1>
<body>
<p>This is regist page</p>


<form id="edit-area">
  <input type="text" placeholder="username"></input>
  <input type="password" placeholder="password"></input>
  <input type="password" placeholder="password confirm"></input>
  <input type="submit" placeholder="submit"></input>
  <input type="reset" placeholder="reset"></input>
</form>
</body>

</html>